.container {
    display: block;
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
    overflow: hidden;
}
.transitionobj {
    width: 1600px;
    height: inherit;
    list-style: none;
    position: relative;
    /*left: -400px;*/
    transform:translateX(0px);
}

.transitionobj li {
    width: 400px;
    height: inherit;
    position:absolute;
}

.transitionClass {
    transition-property: transform;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(1,0,0,1);
    -webkit-transition-property: transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(1,0,1,0);
}